# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# Data files
*.csv
*.pkl

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
